<!DOCTYPE html>
<html>
  <head>
    <title>HappyEarth</title>
    <%= csrf_meta_tags %>

    <%= yield :head %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="http://www.webglearth.com/v2/api.js"></script>
    <title>Happy Earth</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
